* {
  padding: 0px;
  margin: 0px;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

body {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-color: #fff6f7;
}

body img {
  pointer-events: none;
}
